.box{
    height: 50px;
    width: 50px;
    background-color: red;
    animation: prasad is ease infinite alternate-reverse;
}
@keyframes prasad{
    0%{
       }
        50%{
            transform: transitionY(200px);
        }
        100%{
            transform: translateX(1000px);

        }
    
}